@inherits UmbracoTemplatePage
@{
    Layout = null;
}<!DOCTYPE html>
<!--
    TXT 2.0 by HTML5 UP
    html5up.net | twitter.com/n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@Umbraco.Field("title", altFieldAlias: "pageName") | @Umbraco.Field("siteName", recursive: true)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="/js/config.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/js/slick.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		  $('.slider').slick({
				dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				adaptiveHeight: true
				});
			});
  	</script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-panels.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel-noscript.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/style-desktop.css" />
		<link rel="stylesheet" type="text/css" href="css/slick.css"/>
		<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="/js/html5shiv.js"></script><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="/css/ie7.css" /><![endif]-->
</head>
<body class="homepage">
    <!-- Header -->
    <header id="header">
	<div>
		<umbraco:Macro runat="server" language="cshtml">
		 @{
		  if(Model.Content.HasValue("logo")){ 
		  var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("Logo"));
				<img src="@mediaItem.GetPropertyValue("umbracoFile")" alt="@mediaItem.GetPropertyValue("Name")" style="height:200px; width:400px"/>
		  }
		}
		</umbraco:Macro>
	</div>
		<div>
			<div>
				<h1><a href="/" id="logo">@Umbraco.Field("siteName", recursive: true)</a></h1>
				<span class="byline">@Umbraco.Field("byline", recursive: true)</span>
			</div>
		</div>
    </header>
    <!-- /Header -->
					
    @{ Html.RenderPartial("umbTopNavigation"); }
	
    @RenderBody()

    <!-- Footer -->
    <footer id="footer" class="container">
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbAbout"); }
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbSocial"); }
            </div>
        </div>
        <div class="row">
            <!-- Copyright -->
            <div id="copyright">
                &copy; @DateTime.Now.Year @Umbraco.Field("copyright", recursive: true) | Images: <a href="http://fotogrph.com">fotogrph</a> + <a href="http://iconify.it">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 UP</a>
            </div>
            <!-- /Copyright -->
        </div>
    </footer>
    <!-- /Footer -->
</body>
</html>